
// Predawn colors
// ----------------------------------------------

@predawn-default: hsl(14, 84%, 66%);  // default
@predawn-blue:    hsl(180, 26%, 66%); // blue
@predawn-green:   hsl(85, 46%, 68%);  // green
@predawn-yellow:  hsl(60, 72%, 73%);  // yellow
@predawn-orange:  hsl(24, 87%, 67%);  // orange
@predawn-red:     hsl(8, 60%, 53%);   // red
@predawn-pink:    hsl(301, 54%, 81%); // pink
