
@import "ui-base-predawn.less";

// ONE dark UI colors - overrides
// ----------------------------------------------


@text-color-info:    @predawn-blue;
@text-color-success: @predawn-green;
@text-color-warning: @predawn-orange;
@text-color-error:   @predawn-red;

@accent-color:            @predawn-orange; // small, eg close button in tab
@accent-bg-color:         @predawn-orange; // large, eg tooltip

// todo: change this to black tooltips
@tooltip-background-color:          @accent-bg-color;
@tooltip-text-color:                @accent-bg-text-color;
@tooltip-text-key-color:            @tooltip-background-color;
@tooltip-background-key-color:      @tooltip-text-color;
